# 將此檔案複製為 .env.local 並填入實際值
# 在 Vercel 也需要設定以下環境變數

# Google Apps Script 部屬後的網址
GAS_API_URL=https://script.google.com/macros/s/AKfycbxtEx31cvlMOrr4o8Go5fwqoyMV73t-GcFgroaSTH-OQ9aHHKG8uixpsKyf-zTQbfLa/exec
